// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.front {

}
.layout-container {
  background-color: lightcyan;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
#block-theme-main-menu {
  display: block;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  ul.menu {
    li {
      display: inline-block;
      width: 120px;
      text-align: center;
    }
  }
}